*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: serif;
    text-align: center;
}

body
{
    background-color: blueviolet;
    padding: 20px;
}

header
{
    max-width: 400px;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.logo
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid;
    border-color: white;
    overflow: hidden;  
    margin: auto;
}

.logo img
{
    width: 100%;
    height: 100%;
}

header h1
{
    font-weight: 100;
    color: white;
    margin-top: 20px;
}

/*Main Article*/

main
{
    max-width: 1000px;
    background: white;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    border-radius: 8px;
}

.mainArticle
{
    width: 100%;
    margin-top: 20px;
}

.mainArticle #initialImage
{
    width: 100%;
    text-align: center;
}

.mainArticle #initialImage img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.mainArticle #mainSummary 
{
    width: 100%;
}

.mainArticle #mainSummary h2
{
    margin-top: 20px;
    font-weight: 100;
    text-align: center;

}

.mainArticle #mainSummary hr
{
    height: 2px;
    width: 100px;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left,red,blue,#8222ee);
    margin-top: 20px;
}

.mainArticle #mainSummary p
{
    margin-top: 20px;
    color: #63637b;
    letter-spacing: 1px;
}

/*Noticias */
.newsArticle
{
    width: 100%;
    text-align: center;
}

.newsArticle h1
{
    margin-top: 20px;
    font-weight: 100;

}

.newsDetails
{
    width: 100%;
}

.newDetail
{
    width: 400px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.iconDetail
{
    max-width: 200px;
    width: 100%;
    height: 200px;   
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: flex;
    margin: auto;
}

.iconDetail span
{
     
    font-size: 80px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    padding: 46px;
    margin: auto;
}

.newDetail h4
{
    font-weight: 100;
    font-size: 18px;
    margin-top: 40px;
}

.newDetail p
{
    font-size: 18px;
    margin-top: 20px;
    letter-spacing: 1px;
    color:#80777d
}

.newsArticle hr
{
    height: 2px;
    width: 100px;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left,red,blue,#8222ee);
    margin-top: 20px;
}

.elementContainer
{
    width: 100%;
    text-align: center;
}

.elementContainer h1
{
    font-weight: 100;
    margin-top: 20px;

}

.elementContainer hr
{
    height: 2px;
    width: 100px;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left,red,blue,#8222ee);
    margin-top: 20px;
}

.elementContainer p
{
    margin-top: 40px;
    letter-spacing: 1px;
    color:#80777d
}

.statics
{
    width: 100%;
    margin-top: 40px;
}

.statics .itemStatic
{
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 40px;
    color: white;
}

.statics .itemStatic p
{   
    color: white;
    margin-top: 0;
}

.statics .itemStatic h4
{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
}


.statics .itemStatic span
{
    font-size: 80px;
    color: white;
}

[data-solid]
{
    background-color: #d68c4fe0

}

[data-organic]
{
    background-color: #297047ab

}

[data-resident]
{
    background-color: #5d6ab8bb

}

[data-biologic]
{
    background-color: #d41010cb

}

.elementContainer .justifyP
{
   text-align: justify;
}

.infoAdditional
{
    width: 100%;
    text-align: center;
}

.infoAdditional h1
{
    font-weight: 100;
    font-size: 20px;
}

.infoAdditional hr
{
    height: 2px;
    width: 100px;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left,red,blue,#8222ee);
    margin-top: 20px;
}

.infoAdditional p
{
    margin-top: 40px;
    font-size: 20px;
    color:#80777d;    
}

.infoAdditional .containerButtonsAdditionalInfo
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.infoAdditional .containerButtonsAdditionalInfo button
{
    width: 50%;
    height: 60px;    
    background: #63637b;
    border-style: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    margin:  auto;
    transition: opacity 600ms
}

.infoAdditional .containerButtonsAdditionalInfo button:hover
{
   opacity: 0.8;
}

.infoAdditional .containerButtonsAdditionalInfo .selectable 
{
    background-color: rgba(70, 131, 180, 0.836)
}

@media screen  and (min-width: 800px)
{
    #newsDetails
   {       
       display: flex;
   }

    .mainArticle
    {
        display: flex;
        flex-direction: row-reverse;
    }

    .mainArticle #initialImage img
    {
        float: right;
        width: 300px;
        height: 300px;
    }

    .mainArticle #initialImage 
    {      
        width: 70%;  
    }

    .statics
    {
        display: flex;
    }

   
    

}